<text> INSPER - Big Data e Computação em Nuvem <text>
    
<text> Grupo 1: André Gambry, Mainara Cardoso, Tiago Pardo <text>

# Big Data e Computação em Nuvem - Projeto Final

## Objetivo do projeto: Previsão de cancelamento de vôos por condições meteorológicas
    
## Dados: 
    Airline Delay: https://www.kaggle.com/yuanyuwendymu/airline-delay-and-cancellation-data-2009-2018
    Airports.csv: https://github.com/PacktPublishing/Pandas-Cookbook/blob/master/data/descriptions/airports.csv?plain=1
    Weather: https://github.com/adambry/Projeto_Final_BigData/blob/main/df_weather.csv
    
Obs: Os dados de Weather foram obtidos via Web Scrapping do site: https://www.ncei.noaa.gov/

# 1. BIBLIOTECAS, SESSÃO SPARK E IMPORTAÇÃO DE DADOS

## 1.1 Importação de bibliotecas

In [38]:
from pyspark.sql.functions import dayofmonth, col, expr, year, month, date_format, when, countDistinct
from matplotlib import pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from io import StringIO
import requests
import pandas as pd

## 1.2 Sessão Spark

In [39]:
spark = (SparkSession
            .builder
            .master("local[4]")
            .appName("Projeto Final")
            .config("spark.jars.packages", "org.apache.hadoop:hadoop-azure:3.3.4,com.microsoft.azure:azure-storage:8.6.6")
            .config("spark.driver.memory", "4g")
            .config("spark.executor.memory", "5g")
            .getOrCreate())

In [40]:
sc = spark.sparkContext
sc._conf.getAll()

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.master', 'local[4]'),
 ('spark.jars.packages',
  'org.apache.hadoop:hadoop-azure:3.3.4,com.microsoft.azure:azure-storage:8.6.6'),
 ('spark.driver.memory', '4g'),
 ('spark.repl.local.jars',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-storage-8.6.6.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,file:///home/jovyan/.ivy2/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,file:///home/jovyan/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar,file:///home/jovyan/.ivy2/jars/commons-codec_commons-codec-1.15.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.12.jar,file:///home/jovyan/.ivy2/jars/org.apache.commons_commons-lang3-3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,file:///home/jovyan/.ivy2/jars/com.google.guava_guava-24.1.1-jre.jar,file:///home/jovyan/.ivy2/jars/com.google.code.findbugs_jsr305-1.3.9.jar,file:///home/jovyan/.ivy2/jars/org.checkerframework_checker-compat-qual-2.0.0.jar,file:///home/jovyan/.ivy2/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,file:///home/jovyan/.ivy2/jars/com.google.j2objc_j2objc-annotations-1.1.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar'),
 ('spark.app.name', 'Projeto Final'),
 ('spark.executor.id', 'driver'),
 ('spark.executor.memory', '5g'),
 ('spark.app.initial.file.urls',
  'file:///home/jovyan/.ivy2/jars/org.checkerframework_checker-compat-qual-2.0.0.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar,file:///home/jovyan/.ivy2/jars/commons-codec_commons-codec-1.15.jar,file:///home/jovyan/.ivy2/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,file:///home/jovyan/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,file:///home/jovyan/.ivy2/jars/org.apache.commons_commons-lang3-3.4.jar,file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.12.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/com.google.code.findbugs_jsr305-1.3.9.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-storage-8.6.6.jar,file:///home/jovyan/.ivy2/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/com.google.guava_guava-24.1.1-jre.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,file:///home/jovyan/.ivy2/jars/com.google.j2objc_j2objc-annotations-1.1.jar'),
 ('spark.app.submitTime', '1701800657161'),
 ('spark.sql.warehouse.dir',
  'file:/home/jovyan/BIG%20DATA%20E%20COMPUTAÇÃO%20EM%20NUVEM/Projeto%20Final/Projeto_Final_BigData/spark-warehouse'),
 ('spark.submit.pyFiles',
  '/home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,/home/jovyan/.ivy2/jars/com.microsoft.azure_azure-storage-8.6.6.jar,/home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,/home/jovyan/.ivy2/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,/home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,/home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,/home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,/home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,/home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,/home/jovyan/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar,/home/jovyan/.ivy2/jars/commons-codec_commons-codec-1.15.jar,/home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,/home/jovyan/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,/home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.12.jar,/home/jovyan/.ivy2/jars/org.apache.commons_commons-lang3-3.4.jar,/home/jovyan/.ivy2/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,/home/jovyan/.ivy2/jars/com.google.guava_guava-24.1.1-jre.jar,/home/jovyan/.ivy2/jars/com.google.code.findbugs_jsr305-1.3.9.jar,/home/jovyan/.ivy2/jars/org.checkerframework_checker-compat-qual-2.0.0.jar,/home/jovyan/.ivy2/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,/home/jovyan/.ivy2/jars/com.google.j2objc_j2objc-annotations-1.1.jar,/home/jovyan/.ivy2/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar'),
 ('spark.app.initial.jar.urls',
  'spark://jupyter-andregd1:35135/jars/commons-logging_commons-logging-1.1.3.jar,spark://jupyter-andregd1:35135/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,spark://jupyter-andregd1:35135/jars/org.slf4j_slf4j-api-1.7.12.jar,spark://jupyter-andregd1:35135/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,spark://jupyter-andregd1:35135/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,spark://jupyter-andregd1:35135/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,spark://jupyter-andregd1:35135/jars/com.google.guava_guava-24.1.1-jre.jar,spark://jupyter-andregd1:35135/jars/com.google.j2objc_j2objc-annotations-1.1.jar,spark://jupyter-andregd1:35135/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,spark://jupyter-andregd1:35135/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,spark://jupyter-andregd1:35135/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,spark://jupyter-andregd1:35135/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar,spark://jupyter-andregd1:35135/jars/com.microsoft.azure_azure-storage-8.6.6.jar,spark://jupyter-andregd1:35135/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,spark://jupyter-andregd1:35135/jars/com.google.code.findbugs_jsr305-1.3.9.jar,spark://jupyter-andregd1:35135/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,spark://jupyter-andregd1:35135/jars/commons-codec_commons-codec-1.15.jar,spark://jupyter-andregd1:35135/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,spark://jupyter-andregd1:35135/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,spark://jupyter-andregd1:35135/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,spark://jupyter-andregd1:35135/jars/org.apache.commons_commons-lang3-3.4.jar,spark://jupyter-andregd1:35135/jars/org.checkerframework_checker-compat-qual-2.0.0.jar'),
 ('spark.app.startTime', '1701800657499'),
 ('spark.driver.port', '35135'),
 ('spark.driver.host', 'jupyter-andregd1'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.id', 'local-1701800658368'),
 ('spark.files',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-storage-8.6.6.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,file:///home/jovyan/.ivy2/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,file:///home/jovyan/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar,file:///home/jovyan/.ivy2/jars/commons-codec_commons-codec-1.15.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.12.jar,file:///home/jovyan/.ivy2/jars/org.apache.commons_commons-lang3-3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,file:///home/jovyan/.ivy2/jars/com.google.guava_guava-24.1.1-jre.jar,file:///home/jovyan/.ivy2/jars/com.google.code.findbugs_jsr305-1.3.9.jar,file:///home/jovyan/.ivy2/jars/org.checkerframework_checker-compat-qual-2.0.0.jar,file:///home/jovyan/.ivy2/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,file:///home/jovyan/.ivy2/jars/com.google.j2objc_j2objc-annotations-1.1.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar'),
 ('spark.submit.deployMode', 'client'),
 ('spark.jars',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-azure-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-storage-8.6.6.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar,file:///home/jovyan/.ivy2/jars/org.apache.hadoop.thirdparty_hadoop-shaded-guava-1.1.1.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-ajax-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,file:///home/jovyan/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar,file:///home/jovyan/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar,file:///home/jovyan/.ivy2/jars/commons-codec_commons-codec-1.15.jar,file:///home/jovyan/.ivy2/jars/org.eclipse.jetty_jetty-util-9.4.43.v20210629.jar,file:///home/jovyan/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.9.4.jar,file:///home/jovyan/.ivy2/jars/org.slf4j_slf4j-api-1.7.12.jar,file:///home/jovyan/.ivy2/jars/org.apache.commons_commons-lang3-3.4.jar,file:///home/jovyan/.ivy2/jars/com.microsoft.azure_azure-keyvault-core-1.2.4.jar,file:///home/jovyan/.ivy2/jars/com.google.guava_guava-24.1.1-jre.jar,file:///home/jovyan/.ivy2/jars/com.google.code.findbugs_jsr305-1.3.9.jar,file:///home/jovyan/.ivy2/jars/org.checkerframework_checker-compat-qual-2.0.0.jar,file:///home/jovyan/.ivy2/jars/com.google.errorprone_error_prone_annotations-2.1.3.jar,file:///home/jovyan/.ivy2/jars/com.google.j2objc_j2objc-annotations-1.1.jar,file:///home/jovyan/.ivy2/jars/org.codehaus.mojo_animal-sniffer-annotations-1.14.jar'),
 ('spark.ui.showConsoleProgress', 'true')]

## 1.3 Importação dos dados

### 1.3.1. Base "airline delay"

In [41]:
STORAGE_ACCOUNT = 'dlspadseastusprod'
CONTAINER = 'big-data-comp-nuvem'
FOLDER = 'airline-delay'
TOKEN = 'lSuH4ZI9BhOFEhCF/7ZQbrpPBIhgtLcPDfXjJ8lMxQZjaADW4p6tcmiZGDX9u05o7FqSE2t9d2RD+ASt0YFG8g=='

spark.conf.set("fs.azure.account.key." + STORAGE_ACCOUNT + ".blob.core.windows.net", TOKEN)

<font color = red> 
    No snipet abaixo estamos importanto dados apenas para o arquivo do ano de 2011. Ajustar para importar dos demais anos
    <font>

In [42]:
config = spark.sparkContext._jsc.hadoopConfiguration()
config.set("fs.azure.account.key." + STORAGE_ACCOUNT + ".blob.core.windows.net", TOKEN)

df_airline_delay = spark.read.csv("wasbs://{}@{}.blob.core.windows.net/{}/2011.csv".format(CONTAINER, STORAGE_ACCOUNT, FOLDER), header=True, inferSchema=True)

df_airline_delay.limit(5).toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2011-01-01,MQ,4529,BOS,JFK,1830,1823.0,-7.0,68.0,1931.0,...,90.0,146.0,48.0,187.0,0.0,0.0,49.0,0.0,0.0,None
1,2011-01-01,MQ,4532,BNA,DCA,1100,1052.0,-8.0,11.0,1103.0,...,95.0,88.0,74.0,562.0,NaN,NaN,NaN,NaN,NaN,None
2,2011-01-01,MQ,4532,DCA,JFK,1400,1358.0,-2.0,9.0,1407.0,...,79.0,73.0,60.0,213.0,NaN,NaN,NaN,NaN,NaN,None
3,2011-01-01,MQ,4537,RDU,JFK,1710,1706.0,-4.0,59.0,1805.0,...,105.0,159.0,85.0,426.0,0.0,0.0,50.0,0.0,0.0,None
4,2011-01-01,MQ,4540,CMH,LGA,1340,1340.0,0.0,14.0,1354.0,...,105.0,95.0,77.0,478.0,NaN,NaN,NaN,NaN,NaN,None

### 1.3.2. Base "weather"

In [43]:
# URL do arquivo no GitHub
url = "https://github.com/adambry/Projeto_Final_BigData/raw/main/df_weather.csv"

df_weather = pd.read_csv(url)

df_weather = spark.createDataFrame(df_weather)

df_weather.limit(5).toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

     State  Year      Month  tavg   pcp
0  Alabama  2018   December  49.0  9.95
1  Alabama  2018   November  50.4  6.29
2  Alabama  2018    October  67.4  2.69
3  Alabama  2018  September  79.4  6.21
4  Alabama  2018     August  79.5  5.03

In [44]:
#verificando ocorrência de duplicadas na base
df_weather_duplicadas = df_weather.groupBy("State", "Year","Month", "tavg", "pcp").count().filter(col("count") > 1)

df_weather_duplicadas.count()

5880

Veriricamos que a importação dos dados via o WebScrapping duplicou cada valor na base. Portanto, removeremos as duplicadas.

In [45]:
df_weather = df_weather.dropDuplicates()

df_weather.count()

5880

Filtrando dados do ano de 2011

In [46]:
df_weather = df_weather.filter(col("Year") == 2011)

df_weather.toPandas().nunique()

State     49
Year       1
Month     12
tavg     394
pcp      391
dtype: int64

### 1.3.3. Base "airports"

In [47]:
url = 'https://raw.githubusercontent.com/adambry/Projeto_Final_BigData/main/Aeroportos_US.csv'

# Especifique as colunas de interesse
df_airports_region = pd.read_csv(url, delimiter=';')

df_airports_region = spark.createDataFrame(df_airports_region)

df_airports_region.limit(5).toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

            type                     name iso_country iso_region iata_code
0  small_airport  Ocean Reef Club Airport          US         FL       OCA
1  small_airport    Pilot Station Airport          US         AK       PQS
2  small_airport    Crested Butte Airpark          US         CO       CSE
3  small_airport        LBJ Ranch Airport          US         TX       JCY
4  small_airport      Nunapitchuk Airport          US         AK       NUP

# 2. TRATAMENTO NOS DADOS

## 2.1. Limpeza Aeroportos fora dos EUA

In [48]:
# Estudo da base para verificar se os estados registrados na coluna STATE na base df_airports_region estão corretos
df_airports_region.select("iso_region").distinct().count()

51

Sabemos que os Estados Unidos possuem 50 estados. Poranto, precisamos vamos identificar os excedentes e retirá-los da base

In [49]:
# identificando Estados Excedentes

# Lista de estados dos EUA (https://pt.wikipedia.org/wiki/Estados_dos_Estados_Unidos)
us_states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

# Filtra os estados excedentes
excess_states = df_airports_region.select("iso_region").distinct().filter(~col("iso_region").isin(us_states))

# Exibe os estados excedentes
excess_states.show()

+----------+
|iso_region|
+----------+
|        DC|
+----------+

verificando quais aeroportos estão nos Estados não identificados

In [50]:
# Filtra os aeroportos com base nos estados excedentes
df_excess_airports = df_airports_region.filter(col("iso_region").isin([row.iso_region for row in excess_states.collect()]))

# Exibe os aeroportos nos estados excedentes
df_excess_airports.show(truncate=False)

+-------------+-----------------------------------------+-----------+----------+---------+
|type         |name                                     |iso_country|iso_region|iata_code|
+-------------+-----------------------------------------+-----------+----------+---------+
|large_airport|Ronald Reagan Washington National Airport|US         |DC        |DCA      |
+-------------+-----------------------------------------+-----------+----------+---------+

A partir de consultas na internet, verificamos que este aeroporto fica em Washginton. Portanto, a iso_region deve ser alterado para WA, sigla do Estado.

In [51]:
# Substitui o valor "DC" por "WA" na coluna "iso_region"
df_airports_region = df_airports_region.withColumn("iso_region", when(col("iso_region") == "DC", "WA").otherwise(col("iso_region")))

# Exibe os aeroportos após a substituição
df_airports_region.select("iso_region").distinct().count()

50

## 2.2 Padronização das variáveis string (retirada de espaços e snakecase)

## 2.3. Join nas tabelas

### 2.3.1. airport_region e airports

Transformação da sigla dos estados para o nome por extenso para corresponder aos valores da tabela df_weather

In [52]:
state_full_name = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

# Criar a nova coluna com nomes de estados por extenso
df_airports_region = df_airports_region.withColumn("STATE_FULL_NAME", col("iso_region").cast("string")).replace(state_full_name, subset="STATE_FULL_NAME")

# Exibir o DataFrame resultante
df_airports_region.show(5)

+-------------+--------------------+-----------+----------+---------+---------------+
|         type|                name|iso_country|iso_region|iata_code|STATE_FULL_NAME|
+-------------+--------------------+-----------+----------+---------+---------------+
|small_airport|Ocean Reef Club A...|         US|        FL|      OCA|        Florida|
|small_airport|Pilot Station Air...|         US|        AK|      PQS|         Alaska|
|small_airport|Crested Butte Air...|         US|        CO|      CSE|       Colorado|
|small_airport|   LBJ Ranch Airport|         US|        TX|      JCY|          Texas|
|small_airport| Nunapitchuk Airport|         US|        AK|      NUP|         Alaska|
+-------------+--------------------+-----------+----------+---------+---------------+
only showing top 5 rows

Junção das tabelas weather e airports region utilizando como chave a coluna com o nome dos Estados

Verificando se todos os valores corresponderam entre as duas tabelas

### 2.3.2. Join nas tabelas df_airport_region e df_airline_delay

Criando colunas de ano e mês a partir da FL_DATE na tabela df_airline_delay

In [53]:
df_airline_delay = df_airline_delay.withColumn("Year", year("FL_DATE")).withColumn("Month", date_format(col("FL_DATE"), "MMMM"))

In [54]:
df_airline_delay.limit(5).toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27,Year,Month
0,2011-01-01,MQ,4529,BOS,JFK,1830,1823.0,-7.0,68.0,1931.0,...,48.0,187.0,0.0,0.0,49.0,0.0,0.0,None,2011,January
1,2011-01-01,MQ,4532,BNA,DCA,1100,1052.0,-8.0,11.0,1103.0,...,74.0,562.0,NaN,NaN,NaN,NaN,NaN,None,2011,January
2,2011-01-01,MQ,4532,DCA,JFK,1400,1358.0,-2.0,9.0,1407.0,...,60.0,213.0,NaN,NaN,NaN,NaN,NaN,None,2011,January
3,2011-01-01,MQ,4537,RDU,JFK,1710,1706.0,-4.0,59.0,1805.0,...,85.0,426.0,0.0,0.0,50.0,0.0,0.0,None,2011,January
4,2011-01-01,MQ,4540,CMH,LGA,1340,1340.0,0.0,14.0,1354.0,...,77.0,478.0,NaN,NaN,NaN,NaN,NaN,None,2011,January

In [55]:
df_airline_delay_airports = df_airline_delay.join(df_airports_region, df_airline_delay.ORIGIN == df_airports_region.iata_code, "inner")

df_airline_delay_airports.count()

6038444

### 3.1.3. Join nas tabelas df_airline_delay_airports e df_weather

In [56]:
df_erro = df_airline_delay_airports.join(df_weather, (df_airline_delay_airports.STATE_FULL_NAME == df_weather.State) & (df_airline_delay_airports.Year == df_weather.Year) & (df_airline_delay_airports.Month == df_weather.Month), "left")

In [57]:
# Filtra para incluir apenas as linhas onde a tabela da esquerda não teve correspondência
unmatched_rows = df_erro.filter(col("State").isNull())

# Exibe as linhas não correspondidas
unmatched_rows.limit(5).toPandas()

/opt/conda/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,name,iso_country,iso_region,iata_code,STATE_FULL_NAME,State,Year,Month,tavg,pcp
0,2011-01-01,UA,62,LIH,SFO,1426,1420.0,-6.0,8.0,1428.0,...,Lihue Airport,US,HI,LIH,Hawaii,None,NaN,None,NaN,NaN
1,2011-01-01,UA,64,LIH,SFO,2255,2251.0,-4.0,11.0,2302.0,...,Lihue Airport,US,HI,LIH,Hawaii,None,NaN,None,NaN,NaN
2,2011-01-01,UA,66,LIH,LAX,1356,1352.0,-4.0,10.0,1402.0,...,Lihue Airport,US,HI,LIH,Hawaii,None,NaN,None,NaN,NaN
3,2011-01-01,UA,68,LIH,LAX,2203,2158.0,-5.0,12.0,2210.0,...,Lihue Airport,US,HI,LIH,Hawaii,None,NaN,None,NaN,NaN
4,2011-01-01,UA,454,LIH,DEN,2120,2110.0,-10.0,11.0,2121.0,...,Lihue Airport,US,HI,LIH,Hawaii,None,NaN,None,NaN,NaN

In [58]:
unmatched_rows.count()

101304

In [59]:
df_erro.select("STATE_FULL_NAME").distinct().show()

+---------------+
|STATE_FULL_NAME|
+---------------+
|           Utah|
|         Hawaii|
|      Minnesota|
|           Ohio|
|         Oregon|
|       Arkansas|
|          Texas|
|   North Dakota|
|   Pennsylvania|
|    Connecticut|
|       Nebraska|
|        Vermont|
|         Nevada|
|     Washington|
|       Illinois|
|       Oklahoma|
|         Alaska|
|     New Mexico|
|  West Virginia|
|       Missouri|
+---------------+
only showing top 20 rows

Criando dataframe que será utilizado no pipeline

In [60]:
df = df_airline_delay_airports.join(df_weather, (df_airline_delay_airports.STATE_FULL_NAME == df_weather.State) & (df_airline_delay_airports.Year == df_weather.Year) & (df_airline_delay_airports.Month == df_weather.Month), "inner")

df.limit(5).show()

+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+----+-------+--------------+--------------------+-----------+----------+---------+---------------+---------+----+-------+----+----+
|            FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|Year|  Month|          type|                name|iso_country|iso_region|iata_code|STATE_FULL_NAME|    State|Year|  Month|tavg| pcp|
+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+----+-------+--------------+--------------------+-----------+----------+---------+---------------+---------+----+-------+----+----+
|2011-01-31 00:00:00|        EV|             5629|   BGM| DTW|         600|   554.0|     -6.0|    40.0|     634.0|    754.0|    8.0|         750|   802.0|     12.0|      0.0|             null|     0.0|           110.0|              128.0|    80.0|   378.0|         null|         null|     null|          null|               null|       null|2011|January|medium_airport|Greater Binghamto...|         US|        NY|      BGM|       New York| New York|2011|January|18.6|2.01|
|2011-01-01 00:00:00|        UA|              239|   MSY| LAX|         700|   708.0|      8.0|     8.0|     716.0|    919.0|    9.0|         924|   928.0|      4.0|      0.0|             null|     0.0|           264.0|              260.0|   243.0|  1671.0|         null|         null|     null|          null|               null|       null|2011|January| large_airport|Louis Armstrong N...|         US|        LA|      MSY|      Louisiana|Louisiana|2011|January|46.9|4.75|
|2011-01-01 00:00:00|        UA|              263|   MSY| LAX|        1927|  1929.0|      2.0|     9.0|    1938.0|   2137.0|    9.0|        2152|  2146.0|     -6.0|      0.0|             null|     0.0|           265.0|              257.0|   239.0|  1671.0|         null|         null|     null|          null|               null|       null|2011|January| large_airport|Louis Armstrong N...|         US|        LA|      MSY|      Louisiana|Louisiana|2011|January|46.9|4.75|
|2011-01-01 00:00:00|        UA|              368|   MSY| IAD|         755|   804.0|      9.0|     9.0|     813.0|   1115.0|    8.0|        1118|  1123.0|      5.0|      0.0|             null|     0.0|           143.0|              139.0|   122.0|   954.0|         null|         null|     null|          null|               null|       null|2011|January| large_airport|Louis Armstrong N...|         US|        LA|      MSY|      Louisiana|Louisiana|2011|January|46.9|4.75|
|2011-01-01 00:00:00|        UA|              380|   MSY| IAD|        1739|  1729.0|    -10.0|    10.0|    1739.0|   2036.0|    6.0|        2109|  2042.0|    -27.0|      0.0|             null|     0.0|           150.0|              133.0|   117.0|   954.0|         null|         null|     null|          null|               null|       null|2011|January| large_airport|Louis Armstrong N...|         US|        LA|      MSY|      Louisiana|Louisiana|2011|January|46.9|4.75|
+-------------------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+----+-------+--------------+--------------------+-----------+----------+---------+---------------+---------+----+-------+----+----+

## <font color = red> Retirar colunas que não fazem sentido do DF <font>

In [125]:
df = df.withColumn('WEATHER_DELAY_BIN', when(col('WEATHER_DELAY') == 0, 0).otherwise(1))

# 3. FEATURE ENGINEERING

## 3.1. Criação de colunas

### 3.1.1 Cassificando atrasos

In [62]:
# Fazendo variável com valor dos percentis 0.33 e 0.66 para posteriormente segmentar as distâncias.
# documentação consultada: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.approxQuantile.html

# percentis = df.stat.approxQuantile("DISTANCE", [0.33, 0.66], 0.01)

In [63]:
# Criando coluna no dataframe para classificação das distâncias a partir dos percentis calculados
# Foi utilizado o percentis[0] para acessar os valor do percentil 0.33 e percentis[1] para acessar o valor de percentis 0.66.
''' Foi necessário utilizar o recurso de format ao invés de utilizar diretamente a referência do objetos da variável percentis no corpo da expressão porque, de outra forma, o 
PySpark interpretou percentis[0] e percentis[1] como literais de string, e não como valores da lista criada na variável percentis'''

# df_classificacao_distancias = df.withColumn(
#     'CLASSIFICACAO_DISTANCIAS',
#     expr(
#         "CASE WHEN distance <= {} THEN 'proximos'"
#         " WHEN distance <= {} THEN 'medio'"
#         " ELSE 'distantes' END".format(percentis[0], percentis[1])
#     )
# )

# df_classificacao_distancias.show(10)

' Foi necessário utilizar o recurso de format ao invés de utilizar diretamente a referência do objetos da variável percentis no corpo da expressão porque, de outra forma, o \nPySpark interpretou percentis[0] e percentis[1] como literais de string, e não como valores da lista criada na variável percentis'

# 4 Análise Descritiva

## 4.1. Análise Univariada

### 4.1.1. Variáveis numéricas

<font color=red> criar aqui gráficos para visualizarmos a dispersão dos dados em boxplot para as colunas numéricas pertinentes <font>

### 4.1.2. Variáveis categóricas

<font color=red> criar aqui gráficos para visualizarmos a frequência das categorias para cada variável <font>

# 5. Análise Exploratória

## 5.1 Criação de hipóteses

<font color = red> criar aqui hipóteses subjetivas (de acordo com nossa interpretação subjetivas sobre os dados) de como as variáveis se comportam frente à variável resposta <font>
    
    Por exemplo: 
    1. Vôos entre aeroportos mais distantes tendem a ter mais atrasos por 'weather'
    2. O número de vôos cancelados por motivos de 'weather' é maior em meses que possuem maior precipitação

## 5.2. Análise Bivariada

<font color=red> criar gráficos buscando responder as hipóteses criadas 
    <font>

Isso é útil para criarmos uma intuição sobre a importância das variáveis nos modelos e obter maior autonomia para manipulação, evitando que nos tornemos totalmente dependente somente de algorítmos para seleção de variáveis, por exemplo.

### 5.2.1. Calculando % atraso em cada faixa

<font color = red> necessita ajuste para pegar apenas vôos cancelados por motivo de 'weather'

In [64]:
# frequencia_absoluta = df_classificacao_distancias.groupBy("CLASSIFICACAO_DISTANCIAS").count()
# total_atrasos = df_classificacao_distancias.count()

# frequencia_absoluta.show()
# total_atrasos

In [65]:
# porcentagem_atrasos_por_classificacao_distancia = frequencia_absoluta.withColumn(
#     "PORCENTAGEM",
#     expr("count / {} * 100".format(total_atrasos))
# )

# porcentagem_atrasos_por_classificacao_distancia.show()

### 5.1.2. Número de vôos diários

In [66]:
# # Plotando gráfico com o número de vôos diários

# plt.figure(figsize=(15,8))
# ax = sns.lineplot(data=df_BOS_agrupado_data_pandas, x='FL_DATE', y='count')
# ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right')
# ax.set(title='Número Diário de Voos',
#        xlabel='Data',
#        ylabel='Número de Voos')

# plt.show()

# 5.2. Análise Multivariada

<font color= red> plotar aqui gráfico de correlação <font>

# 6. Modelagem de Machine Learning

In [152]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder, CrossValidatorModel

In [131]:
cols = ['ORIGIN', 'DEST', 'State', 'tavg', 'pcp', 'WEATHER_DELAY_BIN']
df_ml = df.select(*cols)

df_ml_sample = df_ml.sample(fraction=0.1, seed=3)

cat_columns = ['ORIGIN', 'DEST', 'State']
num_columns = ['tavg', 'pcp']

index_output = [x+"Index" for x in cat_columns]
ohe_output = [x+"OHE" for x in cat_columns]

In [132]:
stringIndexer = StringIndexer(inputCols=cat_columns,
                             outputCols=index_output,
                             handleInvalid="skip")

oheEncoder = OneHotEncoder(inputCols=index_output,
                          outputCols=ohe_output)

# Montar os recursos em um vetor
assembler = VectorAssembler(inputCols=assemblerInputs,
                     outputCol="features")

In [133]:
# Dividir os dados em conjuntos de treinamento e teste
(train_data, test_data) = df_ml_sample.randomSplit([0.8, 0.2], seed=1234)

# Criar instâncias dos modelos de Regressão Logística e Floresta Aleatória

## 6.1 Regressão Logística

In [147]:
lr = LogisticRegression(featuresCol='features', labelCol='WEATHER_DELAY_BIN')
pipeline_lr = Pipeline(stages=[stringIndexer, oheEncoder, assembler, lr])

model_lr = pipeline_lr.fit(train_data)

predictions_lr = model_lr.transform(test_data)

evaluator_lr = BinaryClassificationEvaluator(labelCol='WEATHER_DELAY_BIN')

evaluation_lr = evaluator_lr.evaluate(predictions_lr)

print(f'AUC:{evaluation_lr}')

AUC:0.9999999457990196

## 6.2 Floresta Aleatória

In [148]:
rf = RandomForestRegressor(featuresCol='features', labelCol='WEATHER_DELAY_BIN')
pipeline_rf = Pipeline(stages=[stringIndexer, oheEncoder, assembler, rf])

model_rf = pipeline_rf.fit(train_data)

predictions_rf = model_rf.transform(test_data)

evaluator_rf = RegressionEvaluator(labelCol="WEATHER_DELAY_BIN", predictionCol="prediction")

evaluation_rf = evaluator_rf.evaluate(predictions_rf)

print(f'RMSE:{evaluation_rf}')

RMSE:0.08993337109305

## 6.3 Floresta aleatória com otimização de hiperparâmetros e validação cruzada

In [150]:
paramGrid = (ParamGridBuilder()
            .addGrid(rf.maxDepth, [2, 4, 6])
            .addGrid(rf.numTrees, [10, 100])
            .build)

In [154]:
cv = CrossValidator(
    estimator=pipeline_rf,
    evaluator=evaluator_rf,
    estimatorParamMaps=paramGrid,
    numFolds=5,
    seed=42
)

cvModel = cv.fit(train_data)

TypeError: object of type 'method' has no len()